/* --------------
*     header
---------------- */
.nav__item{
    color:#333333;
}
.nav__item:hover{
    opacity:.5;
    transition:.3s;
}
/* --------------
*    section
---------------- */
.section__wrapper{
    padding-top:75px;
    padding-bottom: 120px;
}
.section__wrapper:first-of-type{
    padding-top: 130px;
    margin-top: 87px;
    background-image: url("../img_sp/about-bgi_sp.png");
    background-size: 513px;
    background-repeat: no-repeat;
    background-position: top 50px left 300px;;
    z-index:-1;
}
.section__about-title{
    max-width: 1080px;
    font-family: 'Josefin Sans', sans-serif;
    line-height:1;
    font-size:2.6rem;
    font-weight: 400;
    margin: 0 auto;
    box-sizing: border-box;
    padding-bottom: 80px;
    text-align: center;
}
.section__vision-title{
    color: #333333;
}
.section__about-inner{
    max-width: 1080px;
    margin: 0 auto;
    box-sizing: border-box;
}
/* --------------
*     profile
---------------- */
.about___prof-frex{
    max-width: 800px;
    margin: 0 auto;
    display: flex;
}
.about__img{
    margin: auto 0;
    margin-right: 50px;
    flex:1.3;
}
.about___prof-wrapper{
    flex:3;
}
.about___prof-name{
    font-size:2rem;
    margin-bottom: 15px;
}
.about___prof-from{
    margin-bottom: 12px;
}
.about___prof-text{
    margin-bottom: 18px;
}
.about___like-list{
    display: flex;
}
.about___like-title{
    font-weight: 600;
    color: #e6d227;
    margin-right: 22px;
}
.about___like-text{
    position: relative;
    margin-right: 30px;
}
.utsuwa{
    margin-right: 25px;
}
.about___like-text::after{
    content:"";
    position: absolute;
    top: 13px;
    right: -16px;
    width: 15px;
    border-bottom: 1px solid #e6d227;
    transform: rotate( -55deg )
}
.about___like-text:last-of-type{
    margin-right: 0;
}
.about___like-text:last-of-type::after{
    display: none;
}
.about___prof-2{
    margin-bottom: 20px;
}

/* --------------
*     skills
---------------- */
.section__skills-wrapper{
    background-color:rgba(247,247,247,0.65);
}
.skills__software,
.skills__coding{
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.skills__software{
    margin-bottom: 34px;
}
.skills__sftware-title{
    margin-right: 63px;
    font-size: 1.8rem;
    height: 30px;
    border-bottom: 2px solid #e6d227;
}
.coding{
    margin-right: 46px;
}
.skills__software-icon{
    width: 48px;
    margin-right: 48px;
}
.skills__coding-icon{
    margin-right: 53px;
    width: 44px;
}
.coding__icon-js>img{
    width: 48px;
}
.coding__icon-js{
    padding-top:5px;
}
.coding__icon-jquery{
    padding-top:18px;
}
.coding__icon-jquery>img{
    width: 108px;
}
.skills__software-list,
.skills__coding-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* --------------
*  career
---------------- */
.career__contents{
    max-width: 800px;
    margin: 0 auto;
    display: flex;
}
.career__bgi-1{
    background-image: url("../img_sp/career-money_sp.png");
    background-size: 80px;
    background-position: top 50px left 15px;
}
.career__bgi-2{
    background-image: url("../img_sp/career-building_sp.png");
    background-size: 78px;
    background-position: top 50px left 16px;
}
.career__bgi-3{
    background-image: url("../img_sp/career-bread_sp.png");
    background-size: 80px;
    background-position: top 50px left 20px;
}
.career__bgi-4{
    background-image: url("../img_sp/career-pc_sp.png");
    background-size: 80px;
    background-position: top 50px left 16px;
}
.career__bgi-1,
.career__bgi-2,
.career__bgi-3,
.career__bgi-4{
    background-repeat: no-repeat;
}
.career__era{
    margin-right: 45px;
    margin-left: 15px;
    flex:1;
    opacity: .8;
}
.career__last-era{
    color: #333333;
    font-size: 1.8rem;
    font-weight: 600;
    opacity: 1;
}
.career__text{
    flex:5;
    padding-left:40px;
    padding-bottom: 50px;
    border-left: 2px solid #e6d227;
    position: relative;
}
.career__text::before{
    content:"";
    position:absolute;
    top:0px;
    left: -11px;
    width: 20px;
    height:20px;
    background: #e6d227;
    border-radius: 50%;
}
.career__text-last{
    flex:5;
    padding-left:40px;
    position: relative;
}
.career__text-last::before{
    content:"";
    position: absolute;
    top:-3px;
    left:-16px;
    width: 33px;
    height: 33px;
    background: #e6d227;
    border-radius: 50%;
}
.career__text-weight{
    font-weight: 600;
}
.line{
    background-color:rgba(230,210,39,0.4);
    
}
/* --------------
*  vision
---------------- */
.vision__bgi{
    background-image: url("../img/about__bgi-dot.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.vision__wrapper{
    max-width: 750px;
    margin: 0 auto;
    margin-bottom:70px;
}
.vision__wrapper:last-of-type{
    margin-bottom:0;
}
.vision__title{
    position: relative;
    font-size: 2.2rem;
    font-weight: 600;
    opacity: 0.9;
    color: #ddc61b;
    margin-bottom: 8px;
    margin-left: 35px;
}
.vision__title::before{
    content:"";
    position: absolute;
    top :9px;
    left:-27px;
    width: 16px;
    height: 16px;
    background-color: #e6d227;
    transform:rotate( 45deg );
}
.vision__text{
    color: #333333;
    max-width: 650px;
    margin: 0 auto;
}
/* --------------
*  back-btn
---------------- */
.button__container{
    margin-top: 120px;
    margin-bottom: 50px;
}
.button2{
	position : relative;
	color: #333333;
	font-size: 14px;
	width: 260px;
	height: 52px;
	display : flex ;
	justify-content : center ;
	align-items : center ;
	border: 1px solid #333333;
	transition : .6s;
}
.button2::before,
.button2::after{
	content:"";
	display: block;
	position: absolute;
	top: 50%;
	left: 40px;
	height: 0.5px;
	background:#333333;
	transition: .6s;
}
.button2::before{
	width: 30px;
}
.button2::after{
	width: 15px;
	transform-origin: left center;
	transform: rotate( -25deg);
}
.button2:hover::before{
    width: 60px;
    background-color: #333333;
	transform:translate(-40px,0);
	transition: .6s;
}
.button2:hover::after{
    background-color: #333333;
	transform:translate(-40px,0);
	transition: .6s;
}


@media screen and (max-width: 768px){

    .section__wrapper:first-of-type{
        padding-top: 80px;
        margin-top: 70px;
        background-image: url("../img_sp/about-bgi_sp.png");
        background-size: 316px;
        background-repeat: no-repeat;
        background-position: top 35px left 0px;;
        z-index:-1;
    }
    .section__about-title{
        padding: 0 4vw;
        padding-bottom:50px; 
        font-size:2.2rem;
    }
    .section__about-inner{
        padding: 0 4vw;
    }
    .about___prof-frex{
        display: block;
    }
    .about___prof-name{
        text-align: center;
        font-size:1.6rem;
    }
    .about___like-list{
        display: block;
    }
    .about___like-title{
        font-size:1.6rem;
        margin-right:0;
    }
    .about___like-text{
        margin-right: 20px;
        display:inline-block;
    }
    .about__img{
        max-width:200px;
        margin: 0 auto 50px;
    }
/* --------------
*     skills
---------------- */
.skills__software, .skills__coding {
    max-width: 340px;
    display:block;
}
.skills__sftware-title{
    max-width: 89px;
    padding-bottom: 8px;
    margin-right: auto;
    margin-bottom: 20px;
    font-size:1.6rem;
}
.coding{
    max-width: 107px;
}
.skills__software-icon>img{
    width: 45px;
}
.skills__software-icon,
.skills__coding-icon{
    margin-right: 0;
}
.skills__coding-icon>img{
    max-width: 40px;
}
.coding__icon-jquery>img{
    max-width: 100px;
}
.coding__icon-js>img{
    width: 55px;
}
.coding__icon-js{
    padding-top:10px;
}
.skills__software-list,
.skills__coding-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* --------------
*     career
---------------- */
.career__era{
    flex:1;
    margin-right: 0;
    margin-left: 0;
}
.career__text,
.career__text-last{
    flex:2;
    padding-left:15px;
}

.career__text>span,
.career__text-last>span{
    display: inline-block;
    margin-bottom: 15px;
}
.career__last-era{
    color: #333333;
    font-size: 1.4rem;
    font-weight: 600;
    opacity: 1;
}
.career__text-last::before{
    content:"";
    position: absolute;
    top:0px;
    left:-10px;
    width: 20px;
    height: 20px;
    background: #e6d227;
    border-radius: 50%;
}
/* --------------
*     vision
---------------- */
.vision__wrapper {
    margin-bottom: 50px;
}
.vision__title{
    font-size: 1.7rem;
    margin: 0 10px 25px 35px;
}
.vision__title::before {
    content: "";
    position: absolute;
    top: 8px;
    left: -27px;
    width: 13px;
    height: 13px;
}
  .vision__text{
    padding-left: 15px;
} 
.vision__bgi {
    background-image: url("../img/about__bgi-dot_sp.jpg");
    background-repeat: no-repeat;
    background-position: 0% 30%;
}
/* --------------
*   back-button
---------------- */
.button2{
    width: 300px;
}
.career__bgi-1{
    background-image: url("../img_sp/career-money_sp.png");
    background-size: 70px;
    background-position: top 50px left 10px;
}
.career__bgi-2{
    background-image: url("../img_sp/career-building_sp.png");
    background-size: 70px;
    background-position: top 50px left 10px;
}
.career__bgi-3{
    background-image: url("../img_sp/career-bread_sp.png");
    background-size: 70px;
    background-position: top 50px left 10px;
}
.career__bgi-4{
    background-image: url("../img_sp/career-pc_sp.png");
    background-size: 70px;
    background-position: top 50px left 10px;
}


}
