/* ------------
*     base
------------- */
html{
    font-size: 62.5%
}
body{
    font-family: source-han-sans-japanese, Hiragino kaku Gotihic Pro, sans-serif;
	font-style: normal;
	font-weight: 300;
    color:#333333;
    font-size:1.6rem;
    line-height: 1.8;
    letter-spacing: 1.8px;
}
img{
    width: 100%;
	vertical-align : bottom ;
}
ol , ul{
	list-style : none ;
}
a{
    text-decoration: none;
    color: #333333;
}
.pc-none{
    display:none;
}
/* --------------
*      btn 
---------------- */
.button--center{
	margin : 0 auto ;
}
.button{
	position : relative;
	color: #333333;
    font-size: 14px;
	width: 260px;
	height: 52px;
	display : flex ;
	justify-content : center ;
	align-items : center ;
	border: 1px solid #333333;
    transition : .6s;
}
.button::before,
.button::after{
	content:"";
	display: block;
	position: absolute;
	top: 50%;
	right: 30px;
	height: 0.5px;
	background: #333333;
	transition: .5s;
}
.button::before{
	width: 30px;
}
.button::after{
	width: 15px;
	transform-origin: right center;
	transform: rotate(25deg);
}
.button:hover::before{
    width: 60px;
    background-color: #333333;
	transform:translate(30px,0);
	transition: .5s;
}
.button:hover::after{
    background-color: #333333;
	transform:translate(30px,0);
	transition: .5s;
}
/* --------------
*  section 
---------------- */
.section__wrapper{
    padding-top: 160px;
    /* background-color: #f9f8f4; */
    background-color: #fff;
}
.section__wrapper:last-of-type{
    padding-bottom: 150px;
}
.section__title{
    line-height: 1;
    max-width: 1080px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 3.8rem;
    font-weight: normal;
    margin: 0 auto 100px;
    box-sizing: border-box;
    padding: 0 35px;
    text-align: center;
    letter-spacing: 6px;
}
.section__title>a{
    color: #e6d227;
}
.section__inner{
    max-width: 1080px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 40px;
}
/* --------------
*     header
---------------- */
.header{
    padding: 19px 15px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    box-sizing: border-box;
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}
.nav__list{
    display: flex;
    margin-right:60px;
}
.nav__item{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    color:#333333;
    margin-right: 40px;
}
.nav__item>a:last-of-type{
    margin-right:0px;
}
.nav__item:hover{
    opacity:.6;
    transition:.3s;
}
 .header__logo{
    width: 70px;
    margin-left: 8px;
} 
/* --------------
*   first view
---------------- */
.fv__wrapper{
    height: 100vh;
    box-sizing: border-box;
}
.fv{
    width:100%;
    height:100%;
    box-sizing: border-box;
    border: 1px solid #f7f7f7;
    position: relative;
}
.main__copy{
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: 2px;
    max-width: 750px;
    position: absolute;
    top: 50%;
    left:50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-weight: 400;
    color:#444444;
    line-height: 1;    
}

/* --------------
*    concept
---------------- */
.concept__wrapper{
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    justify-content:center;
}
.concept__illust{
    padding: 80px 40px;
}
.concept__illust>img{
    width:173px;
}
.concept__theme{
    padding: 50px 60px 110px 80px;
    background-image: url("../img_sp/concept-img_sp.png");
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 370px;
}
.concept__title{
    font-size: 2.5rem;
    margin-bottom: 10px;
}
.concept__text{
    margin-bottom: 5px;
}
/* --------------
*     about
---------------- */
.about__prof-wrapper{
    display: flex;
    max-width: 1000px;
    margin: 0 auto 80px;
    justify-content: space-between;
}
.about__prof-img{
    width: 240px;
    margin-top: 50px;
    margin-left: 100px;
}
.about__prof{
    max-width: 550px;
    /* margin-right:50px; */
}
.about__prof-name{
    font-size: 2.2rem;
}
.about__prof-from{
    margin-bottom: 20px;
}
.about__list-title{
	margin-bottom: 15px;
    font-size: 2rem;
    line-height: normal;
    font-weight: 500;
}
.about__list-title1{
	position: relative;
	display: inline-block;
}
.about__list-title1::before{
	content:"";
	display: inline-block;
	width: 30px;
	height: 35px;
	margin-right: 5px;
	background-image: url("../img_sp/point-1_sp.png");
	background-repeat: no-repeat;
	background-size: contain;
	vertical-align: bottom;
}
.line{
    background-color:rgba(230,210,39,0.4);
}
.about__list-title2{
	position: relative;
	display: inline-block;
}
.about__list-title2::before{
	content:"";
	display: inline-block;
	width: 30px;
	height: 35px;
	margin-right: 5px;
	background-image: url("../img_sp/point-2_sp.png");
	background-repeat: no-repeat;
	background-size: contain;
	vertical-align: bottom;
}
.about__list-title3{
	position: relative;
	display: inline-block;
}
.about__list-title3:before{
	content:"";
	display: inline-block;
	margin-right: 5px;
	width: 30px;
	height: 35px;
	background-image: url("../img_sp/point-3_sp.png");
	background-repeat: no-repeat;
	background-size: contain;
	vertical-align:bottom;
}
.about__list-text{
	font-size: 14px;
	line-height: 1.8;
    margin: 0 0 30px 3px;
}
.about__list-text:last-of-type{
    margin-bottom: 0;
}
/* --------------
*     works
---------------- */
.works__flex{
    display: flex;
    flex-wrap: wrap;
}
.works{
    width:calc(( 100% - 50px*2 ) / 3 );
    position:relative;
}
.works:hover img{
    opacity:0.5;
    -moz-opacity: 0.5;
    -webkit-transition: 0.4s ease-in-out;
    -moz-transition: 0.4s ease-in-out;
    -o-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;   
}
.works:not(:nth-child(3n)){
    margin-right: 50px;
}
.works:nth-child(n + 4){
    margin-top: 50px;
}
.works__img,
.works__title>a{
	display: inline-block;
	color: #333333;
}
.works__title{
    text-align: center;
	font-size: 1.4rem;
}
.works__title:last-of-type{
	margin-bottom: 0;
}

.works__img-web{
    margin-bottom:20px;
	position:relative;
}
.works__img-web::before{
    content:"web";
    font-size: 1.3rem;
    position: absolute;
	top: -11px;
	left: 10px;
	width: 42px;
    height: 23px;
    box-sizing: border-box;
	padding: 0px 5px 5px 5px; 
	border: 1px solid #333333;
	background: #ffffff;
	z-index: 1;
}
.works__img-banner{
    margin-bottom:20px;
	position:relative;
}
.works__img-banner::before{
    content:"バナー";
    font-size: 1.1rem;
	position: absolute;
	top: -11px;
	left: 10px;
	width: 51px;
    height: 23px;
    padding: 2px 5px 5px 5px;   
    box-sizing: border-box; 
	border: 1px solid #333333;
	background: #ffffff;
	z-index: 1;
}
.works__img-card{
    margin-bottom:20px;
	position:relative;
}
.works__img-card::before{
    content:"名刺";
    font-size: 1.1rem;
	position: absolute;
	top: -11px;
	left: 10px;
	width: 39px;
    height: 23px;
    box-sizing: border-box;
	padding: 2px 5px 5px 5px;
	border: 1px solid #333333;
	background: #ffffff;
	z-index: 1;
}	
.works__img-illust{
    margin-bottom:20px;
    font-size: 1.1rem;
	position:relative;
}
.works__img-illust::before{
	content:"イラスト";
	position: absolute;
	top: -11px;
	left: 10px;
	width: 64px;
    height: 23px;
    padding: 2px 5px 5px 5px;   
    box-sizing: border-box; 
	border: 1px solid #333333;
	background: #ffffff;
	z-index: 1;
}
/* --------------
*     contact
---------------- */
.contact__text-wrapper{
    text-align: center;
    max-width:400px;
    margin: 0 auto 50px;
}
.contact__text{
    position: relative;
    line-height: 1;
}
.contact__text::before{
	content: "";
	position: absolute;
	top: 5px;
	left: 0;
	width: 15px;
	height: 1px;
	background: #333333;
	transform: rotate(55deg);
}
.contact__text::after{
	content: "";
	position: absolute;
	top: 5px;
	right: 5px;
	width: 15px;
	height: 1px;
	background: #333333;
	transform: rotate(-55deg);
}
/* --------------
*    footer
---------------- */
.footer{
    padding-bottom:20px;
    background-color: #ffffff;
}
.footer__wrapper{
    max-width: 1080px;
    margin: 0 auto;
    text-align: center;
}
.footer__sns{
	margin-bottom: 30px;
}
.footer__sns>a{
	display: inline-block;
	margin-right: 25px;
}
.footer__sns>a:last-of-type{
	margin-right: 0;
}
.footer__sns>a>img{
	width: 47px;
}
.footer__copyrights{
	display: inline-block;
	font-size: 1rem;
}
.instagram{
    transition: .4s;
}
.instagram:hover{
    transform: translate(0px,-10px);
    transition: .4s;
}
.twitter{
    transition: .4s;
}
.twitter:hover{
    transform: translate(0px,-10px);
    transition: .4s;
}
/* --------------
*  pageTop-btn
---------------- */
.pageTop__arrow{
    display: inline-block;
    position:relative;
    width: 50px;
    height:50px;
    border-radius: 50%;
    background-color: #f4f4f4;
}
.pageTop__arrow::before{
    content: "";
    position: absolute;
    top: 0px;
    right:20px;
    bottom: 0;
    margin: auto 0;
    width: 7px;
    height: 7px;
    transform: rotate( -45deg );
    border-top: solid 3px #333333;
    border-right: solid 3px #333333;
}
#page-top {
    display:none;
    position: fixed;
    bottom: 50px;
    right: 50px;
}
#page-top a {
    text-decoration: none;
    width: 50px;
    display: block;
    transition: .4s;
}
#page-top a:hover {
    transform: translate(0px,-10px);
    transition: .4s;
}


@media screen and (max-width: 1079px){

    .section__title{
        text-align: center;
        margin: 0 auto 60px;
    }
    .section__title-1::after,
    .section__title-2::before,
    .section__title-2::after,
    .section__title-3::before,
    .section__title-4::before,
    .section__title-4::after{
        display: none;
    }
}

@media screen and (max-width: 768px){
    .pc-none{
        display: block;
    }
    .sp-none{
        display: none;
    } 
    body{
        font-size: 1.4rem;
        box-sizing: border-box;
    }
/* --------------
*    loading
---------------- */
    #loading img{
        width: 120px;
      }
 /* --------------
*    section
---------------- */
    .section__wrapper{
        padding-top: 130px;
    }
    .section__wrapper:last-of-type{
        padding-bottom: 80px;
    }
    .section__title{
        padding: 0 4vw;
        margin-bottom: 80px;
        font-size:2.2rem;
    }
    .section__inner{
        padding: 0 4vw; 
    }
/* --------------
*     header
---------------- */
.header{
    justify-content: flex-start;
    display:block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 7px 15px;
    background: #ffffff;
    z-index:10;
}
.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.header__logo{
    width: 58px;
}
/*-----------------------
      menu
-------------------------*/
 #menu{
	display :none;
} 
.header__nav{
	position: fixed;
	top: 56px;
	right: -230px;
    width: 230px;
	padding: 30px;
	box-sizing: border-box;
	background : rgba(255,255,255,1) ;
	transition: 0.6s;
	z-index: 100;
}
#menu:checked ~ .header__nav{
	right: 0px;
}
.nav__item{
	position: relative;
    display: block;
    width: 170px;
	height: 60px;
	line-height: 60px;
	text-decoration: none;
	color: #333333;
	font-family: 'Josefin Sans', sans-serif;
    border-bottom: solid 1px #c8c7c7;
    margin: 0 auto ;
}
.nav__item::before{
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto 0;
	width: 8px;
	height: 8px;
	transform: rotate( 45deg );
	border-top: solid 2px #333333;
	border-right: solid 2px #333333;
}
.nav__list{
    display: block;
}
/*-----------------------
    menuButton
-------------------------*/
 .menuButton{
	display : flex ;
	justify-content: center;
	align-items: center;
	width : 56px ;
	height : 56px ;
	background : #ffffff;
}
.menuButton__inner{
	position: relative;
	width: 24px;
	height: 2px;
	background: #717171;
	transition: 0.4s;
}
.menuButton__inner::before,.menuButton__inner::after{
	content:"";
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 100%;
	height: 100%;
	background: #717171;
	transition: 0.4s;
}
.menuButton__inner::before{
	top: -8px;
}
.menuButton__inner::after{
	top: 8px;
}
#menu:checked ~ .header__inner .menuButton__inner{
	background: transparent ;
	transform: rotate( 180deg );
}
#menu:checked ~ .header__inner .menuButton__inner::before{
	transform: rotate( 45deg );
	top: 0;
}
#menu:checked ~ .header__inner .menuButton__inner::after{
	transform: rotate( -45deg );
	top: 0;
}
/* --------------
*     fv
---------------- */
.main__copy{
    width: 300px;
} 
/* --------------
*   concept
---------------- */
.concept__wrapper{
    display: flex;
    flex-direction: column;
}
.concept__illust{
    width: 137px;
    padding: 0;
    margin: 0 auto;
}
.concept__illust>img{
    width: 137px;
}
.concept__theme{
    margin: 60px auto 0;
    padding: 30px 50px 90px;
    background-size: 300px;
}
.concept__title{
    font-size:1.8rem;
}
.concept__text{
    font-size:1.4rem;
}
/* --------------
*    about
---------------- */
.about__prof-img{
    position:static;
    width:200px;
    margin:0 auto 60px;
}
.about__prof-wrapper{
    display: flex;
    flex-direction: column;
}
.about__prof{
    background-color: #fff;
    padding: 0;
    max-width: 100%;
}
.about__prof-text{
    text-align: center;
}
.about__prof-name{
    font-size:1.6rem;
}
.about__prof-from,
.about__prof-name{
    line-height:1;
    margin-bottom: 30px;
}
.about__list-title{
    font-size:1.8rem;
    line-height:1;
    margin-bottom: 20px;
}
.about__list-title::before{
    width:28px;
    height:33px;
}
.about__button{
    margin: 0 auto;
}
.about__list-text:last-of-type{
    margin-bottom: 60px;
}
/* --------------
*     works
---------------- */
.works__flex{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.works__img-web,
.works__img-banner,
.works__img-card{
	margin-bottom:25px;
}
.works__img-web::before{
	width: 42px;
}
.works__img-banner::before{
	width: 51px;
}
.works__img-card::before{
    width: 38px;
}
.works__img-card::before{
    margin-top:0;
}
.works:not(:nth-child(3n)) {
    margin:0 auto 60px;
}
.works:nth-child(n + 4) {
    margin: 0 auto 60px;
}
.works{
    width: 335px;
    margin:0 auto 60px;
}
.works:last-of-type{
    margin-bottom: 0px;
}
.works__title{
    line-height: 1;
    margin-bottom:60px;
}
#page-top {
    display:none;
    position: fixed;
    bottom: 15px;
    right: 15px;
}
/* --------------
*      SNS
---------------- */
.instagram:hover{
    transform: none;
}
.twitter:hover{
    transform: none;
}
/* --------------
*     btn
---------------- */
.button{
    width: 300px;
}
}
@media screen and (min-width: 769px) and (max-width: 1079px){
    .fv__wrapper{
        max-height:660px;
    }
    .about__prof-img{
        margin-left:50px;
        margin-right:50px;
    }
}
@media screen and (max-width: 400px){
    .section__title{
        font-size:2.2rem;
    }
}
