/* --------------
*     header
---------------- */
.nav__item{
    color:#333333;
}
.nav__item:hover{
    opacity:.5;
    transition:.3s;
}
/* --------------
*     section
---------------- */
.section__wrapper{
    padding-top:75px;
    padding-bottom: 120px;
}
.section__about-title{
    max-width: 1080px;
    font-size:2.6rem;
    font-weight: 500;
    margin: 0 auto;
    box-sizing: border-box;
    padding-bottom: 80px;
    text-align: center;
}
.section__wrapper:first-of-type{
    padding-top: 130px;
    padding-bottom: 80px;
    margin-top: 87px;
    background-image: url("../img_sp/works-bgi_sp.png");
    background-repeat: no-repeat;
    background-size: 554px;
    background-position: top 60px left 300px;
    z-index:-1;
}
.works__section-inner:last-of-type{
    margin-bottom: 0;
}
/* --------------
*     moc
---------------- */
.works__moc{
    max-width: 800px;
    margin: 0 auto 80px;
}
/* --------------
* works_section    
---------------- */
.works__section-inner{
    max-width: 800px;
    margin: 0 auto 60px;
}
.works__section-color{
    color: #565656;
}
.works__section-title{
    line-height: 1.2;
    font-size: 2.0rem;
    padding-left: 7px;
    border-left: 6px solid #e6d227;
    font-weight: 600;
    margin-bottom: 20px;
}
.works__text-list{
    list-style-type: disc;
    list-style-position: inside;
}
.works__text-item{
    margin-bottom: 15px;
    padding-left: 1.4em;
    text-indent: -1.4em;
}
.works__arrow>img{
    display: inline-block;
    width: 17px;
    margin-left: 30px;
}
.works__text-item-listnone{
    margin-bottom: 15px;
}
.works__text-list-listnone>ol{
    list-style:decimal;
    list-style-position: inside;
}

.works__persona-wrapper{
    display: flex;
    justify-content: space-between;
}
.works__persona-explanation{
    max-width: 485px;
    border-radius: 5px;
    border: 1px solid #e6d227;
    padding: 18px 15px;
}
.works__persona-img>img{
    max-width: 230px;
}
.persona__name{
    font-size: 1.8rem;
    font-weight: 600;
}
.persona__text-list{
    list-style: disc;
    list-style-position: inside;
}
.persona__text-item{
    padding-left: 1.4em;
    text-indent: -1.4em;
}
.works__item-wrapper{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
.works__item-pc{
    max-width:600px
}
.works__item-sp{
    max-width:250px;
}
/* --------------
* wireframe-btn    
---------------- */
.works__button-container{
    margin:40px 0px;
}
.wireframe__button{
    margin-left: auto;
}
.button::before, .button::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    right: 30px;
    height: 0.5px;
    background: #333333;
    transition: .6s;
}
/* --------------
*   wireframe   
---------------- */
.works__wireframe-wrapper{
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
}

/* --------------
* works-btn    
---------------- */
.button__container{
    margin-top: 120px;
    margin-bottom: 50px;
}
.button2{
	position : relative;
	color: #333333;
	font-size: 14px;
	width: 260px;
	height: 52px;
	display : flex ;
	justify-content : center ;
	align-items : center ;
	border: 1px solid #333333;
	transition : .6s;
}
.button2::before,
.button2::after{
	content:"";
	display: block;
	position: absolute;
	top: 50%;
	left: 40px;
	height: 0.5px;
	background:#333333;
	transition: .6s;
}
.button2::before{
	width: 30px;
}
.button2::after{
	width: 15px;
	transform-origin: left center;
	transform: rotate( -25deg);
}
.button2:hover::before{
    width: 60px;
    background-color: #333333;
	transform:translate(-40px,0);
	transition: .6s;
}
.button2:hover::after{
    background-color: #333333;
	transform:translate(-40px,0);
	transition: .6s;
}

@media screen and (max-width: 768px){
    .section__wrapper:first-of-type{
        padding-top: 80px;
        margin-top: 70px;
        background-image: url("../img_sp/works-bgi_sp.png");
        background-size: 316px;
        background-repeat: no-repeat;
        background-position: top 50px left 0px;;
        z-index:-1;
    }
    .section__about-title{
        padding: 0 4vw;
        padding-bottom:50px; 
        font-size:2rem;
    }
    /* --------------
    * works_section    
    ---------------- */
    .works__section-title{
        line-height: 1.2;
        font-size: 1.8rem;
        padding-left: 7px;
        border-left: 6px solid #e6d227;
        font-weight: 600;
        margin-bottom: 20px;
    }
    .works__text-item{
        margin-bottom: 20px;
    }
    .contents__title{
        max-width: 130px;
        flex:2.5;
        font-weight: 600;
        position: relative;
    }
    .contents__title::after{
        content:":";
        position: absolute;
        top:0;
        right:5px;
    }
    .contents__list,
    .contents__text{
        flex:2;
    }
    .works__text-item{
        margin-bottom: 15px;
        padding-left: 0.9em;
        text-indent: -0.9em;
    }
    .persona__text-item{
        padding-left: 0.9em;
        text-indent: -0.9em;
    }
    /* --------------
    *     persona    
    ---------------- */
    .works__persona-wrapper{
        display: block;
    }
    .persona__name{
        margin-bottom: 10px;
        font-size: 1.6rem;
    }
    .persona__text-item{
        margin-bottom: 8px;
    }
    .works__persona-img{
        margin: 0 auto 40px;
        max-width: 237px;
    }
    .works__persona-img>img{
        max-width: 237px;
    }
    .wireframe__button{
        margin: 0 auto;
    }
    .works__item-pc{
        margin-right: 15px;
    }
    /* --------------
    *  wire-frame
    ---------------- */
    .works__wireframe-wrapper{
        padding: 0 4vw;
    }
    /* --------------
    *  works-btn    
    ---------------- */
    .button2{
        width: 300px;
    }

}
